@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --color-00:#F3EFF2;
    --color-01:#BCBCBC;
    --color-02:#847B81;
    --color-03:#D20A8E;
    --color-04: #9b0368;
    --color-05:#1E1E1E;

    --font: "Poppins", sans-serif;
}

/*Estilos gerais*/

::-webkit-scrollbar{
    display: none;
}

html {
    scroll-behavior: smooth;
  }

body{
    margin: 0;
    padding: 0;
    background: var(--color-00);
    font-family: var(--font);
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

/*Barra de navegação - cabeçalho*/

header{
    z-index: 10;
    background: var(--color-00);
    border-radius: 0 0 0 500px;
    box-shadow: 0px 4px 60px 5px var(--color-01) ;
    height: 12%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: end;
}

nav{
    padding-right: 5%;
}

nav, nav ul{
    display: flex;
    align-items: center;
    gap: 150px;
}

nav li, nav a{
    list-style-type: none;
    text-decoration: none;
    color: var(--color-05);
    font-weight: 500;
    cursor: pointer;
}

nav a:hover{
    color: var(--color-03);
    font-weight: 600;
}

/*Botões*/

button{
    height: 40px;
    background: var(--color-03);
    color: white;
    font-family: var(--font);
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 20px;
}

button:hover{
    background: var(--color-04);
}

/*Sessões principais*/

section{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*------Home--------*/

.home{
    background-image: url('../media/img/bg-l.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.title{
    line-height: 0px;
    margin-bottom: 50px;
}

.title h1{
    font-size: 5em;
    font-weight: 600;
    letter-spacing: 10px;
    text-transform: uppercase;
    color: var(--color-05);
}

.title h3{
    font-size: 3em;
    font-weight: 600;
    color: var(--color-02);
    letter-spacing: 17px;
}

/*------Sobre--------*/

.about-container{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.info{
    width: 80%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: justify;
}

.info p{
    font-size: 1.2em;
}

.info span{
    color: var(--color-03);
    font-weight: 600;
}

.more-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.more-info img{
    height: 250px;
    width: 250px;
    border-radius: 50%;
}

/*-------Projetos---------*/

.projects h1{
    margin: 50px;
    text-transform: uppercase;
    color: var(--color-02);
    text-decoration: underline var(--color-03);
    text-underline-offset: 10px;
    font-size: 2em;
}

.cards{
    display: flex;
    gap: 5%;
}

.card-button{
    height: 350px;
    width: 250px;
    border-radius: 10px;
    background: var(--color-00);
    box-shadow: 0px 4px 60px 5px var(--color-01);
    color: var(--color-03);
    text-decoration: none;
    font-weight: 500;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-button:hover{
    box-shadow: 0px 4px 60px 10px var(--color-02);
}

/*-----Contato-------*/

.contact-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100vw;
}

.contact{
    background-image: url('../media/img/bg-l.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 10px;
}

.contact-infos{
    height: 350px;
    width: 100%;
    padding: 10%;
}

.contact-infos h1{
    font-size: 2em;
}

.contact-infos img{
    height: 50px;
}

.social{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 50px;
    gap: 50px;
}

.links{
    display: flex;
    align-items: center;
}

.links a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--color-02);
    font-weight: 600;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form{
    background: var(--color-00);
    box-shadow: 0px 4px 60px 5px var(--color-01);
    border-radius: 10px;
    height: 350px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

form h2{
    font-size: 1em;
    align-self: center;
}

form input, form textarea{
    width: 300px;
    padding: 10px;
    background: var(--color-00);
    border: none;
    border-bottom: 1px solid var(--color-01);
    font-family: var(--font);
    font-weight: 300;
}

form button{
    align-self: flex-end;
}

/*-------Nichos--------*/

.pagination{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.pagination img{
    height: 40px;
}

.niche h2{
    color: var(--color-02);
    text-transform: uppercase;
    text-decoration: underline var(--color-03);
    text-underline-offset: 10px;
}

/*-----Rodapé-------*/

footer{
    width: 100vw;
    display: flex;
    justify-content: center;
    color: var(--color-02);
}

/*Estilização para tablets*/

@media (min-width:481px) and (max-width:1024px){

    header{
        display: none;
    }

    button{
        font-size: 1.5em;
        height: 80px;
    }

    /*----Home----*/

    .home, .contact{
        background-image: url('../media/img/bg-m.png');
    }

    /*----Sobre----*/
    .about-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .info h1{
        font-size: 2em;
    }

    .info p{
        font-size: 1.5em;
    }

    /*----Projetos----*/

    .projects h1{
        font-size: 2.5em;
    }

    .cards{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .card-button{
        height: 150px;
        width: 600px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        padding: 0px 20px;
        font-size: 2em;
    }

    .card-button img{
        height: 70px;
    }

    .card-button span{
        font-size: 0.8em;
        font-weight: 600;
    }

    .card-button:hover{
        box-shadow: 0px 4px 60px 5px var(--color-01);
    }

    /*----Contato----*/

    .contact{
        line-height: 50px;
    }
    
    .contact-container{
        display: flex;
        flex-direction: column;
    }

    .contact-infos{
        width: 82%;
        padding: 0 10%;
    }

    .contact-infos h1{
        font-size: 2.5em;
    }

    .contact-infos p{
        font-size: 1.5em;
    }

    .social{
        display: flex;
        justify-content: space-between;
    }

    .social img{
        height: 60px;
    }

    .social span{
        display: none;
    }

    form{
        height: 550px;
        width: 450px;
        font-size: 1.5em;
        padding: 30px;
        gap: 40px;
    }

    form input, form textarea{
        font-size: 0.8em;
        width: 90%;
    }

    form button{
        height: 60px;
        width: 200px;
        font-size: 1em;
    }

    /*----Rodapé----*/

    footer{
        height: 8vh;
        font-size: 1.2em;
    }

    /*----Nichos----*/

    .niche h2{
        font-size: 2.5em;
    }

    .pagination img{
        height: 70px;
    }
}
